.header{
    &__nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 15px 30px !important;
        align-items: center;
        input{
            background: rgba(71, 147, 255, 0.2);
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            color: #000;
            padding: 9px 20px;
            &::placeholder{
                color: #000;
            }
            &::-webkit-search-cancel-button{
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}